body {
    background-color: #fcfcfc;
    color: black;
}
.menu ul li{
    background-color: #fffcff;
    color: black;   
    width: 193px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}
.menu ul li:hover{
    background-color: #fff7f8;
}
.menurodape ul li {
    color: black;
    height: 25px;
    display: inline-block;
    text-align: right;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;
    padding: 30px;
}
.imagemtramento {
    background-image: url(tratamentos.png);
    align-self: center;
}
.textotratamento {
    position:absolute;
    text-align:center;
    top: 700px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    right: 30px;
    width: 200;
}
.imagem {
    background-image: url(agenda.png);
    align-self: center;
}
.textoagenda {
    position:absolute;
    text-align:right;
    top: 800px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    right: 250px;
}
.box {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
} 
.Textbox1 {
    width: 100px; height: 200px; size: 400px;
}
footer {
    clear: both;
    background-color: #fff7f8;
    height: 200px;
}
div.rodape {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 25px;
}